.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding: 0 1rem;
}

/* Responsividade para tablets */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 100%;
    padding: 0 2rem;
  }
}

/* Responsividade para desktop */
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 100%;
    padding: 0 3rem;
  }
}